body{
    background: rgb(66, 62, 62);
    font: normal 15pt arial;
}

header{
    text-align: center;
    color: white;
}

section{
    text-align: center;
    background: white;
    padding: 5px;
    width: 500px;
    margin: auto;
    border-radius: 30px;
    }

footer{
    text-align: center;
    color: white;
    font-style: italic;
}